click
colorama
dnspython
email-validator
Flask
Flask-Admin
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Flask-Compress
Flask-Mail
Flask-Migrate
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
Pillow
SQLAlchemy
Werkzeug
WTForms
zipp
Flask-Cors
