{% extends "base.html" %}
{% block title %}Parcel Delivery Game{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='Game1/TemplateData/style.css') }}">
  <!-- Include Bootstrap CSS from CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .centered-table {
      margin: auto;
    }
  </style>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-center">Game Leaderboard</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-striped centered-table">
                    <thead class="text-center">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Time (seconds)</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for record in records %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ record.user.username }}</td>
                            <td>{{ record.end_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
